{
  "branches": [
    "main",
    {
      "name": "dev",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/github",
    "@semantic-release/git",
    {
      "path": "@semantic-release/exec",
      "cmd": "echo 'New version: ${nextRelease.version}'"
    }
  ]
}
